1. Use the following link to learn about the first four different ways of dealing with missing
values mentioned in the link (do nothing, imputing using mean/median values, imputing 
using most frequent values, and imputing using K-NN). Then answer the following 
questions:
https://towardsdatascience.com/6-different-ways-to-compensate-for-missing-values-dataimputation-with-examples-6022d9ca0779

(3)

3. Read the food.csv dataset in Jupyter Notebook and answer the following questions.
a) Convert the column types where needed. (5 points)
b) How much money on average were spent by each gender? Answer this question using 
two approaches: 1. using pivot_table 2. using groupby method. (5 points)
c) How much money were spent overall by each gender separately? (5 points)
d) How much money on average were spent by each gender per item per city? Answer 
this question using two approaches: 1. using pivot_table 2. using groupby method. (10 
points)
4. Read the four following datasets and answer the questions below:
Datasets: Restaurant - Week 1 Sales.csv, Restaurant - Week 2 Sales.csv, Restaurant -
Customers.csv, and Restaurant - Foods.csv.
a) Based on week1 and week2 sales (first and second datasets), find out the customers 
who ordered food in either week1 or week2 but not both weeks. (10 points)
b) Consider two datasets, week2 sales and restaurant customers. Merge these two datasets 
such that it results in a dataframe where we see the food information (food name and 
food price) for the week2 customers Notice that we have "Customet ID" column in one, 
while "ID" column in the other. (10 points)

# 1

a) Which approaches are better to be used to deal with missing values of a categorical 
column? 

- using most frequent, imputing using KNN/deep learning

b) Which method is sensitive to outliers? Which method considers all column’s information when dealing with the missing values of one column?

- using KNN is sensitive to outliers, deep learning considers all column’s information when dealing with the missing values of one column?

c) What are the pros and cons of imputation using most frequent values? 

Pros:

- Works well with categorical features.

Cons:

- It also doesn’t factor the correlations between features.
- It can introduce bias in the data.

# 2

In [ ]:
2. Read the nba (National Basketball Association) dataset in Jupyter Notebook and answer 
the following questions.
a) Take a random sample of the dataset that includes 80% of the data and answer the 
following questions using the sample. (2)
b) Find out the number of missing values in each column (5 points)
c) Drop the rows for which all columns’ values are zero. (2 points)
d) Replace the missing values of the “College” column with the most frequent college 
name in the dataset and replace the missing values of the “Salary” column with the 
average salary using imputation. (6 points)
e) Convert the type of “Salary” and “Number” columns both to integer (2).

In [1]:
import pandas as pd

In [2]:
nba = pd.read_csv("C:/Users/student/Documents/Creighton/Data Wrangling/nba.csv")

In [5]:
# a)
nba = nba.sample(frac=.8)

In [19]:
# b)
nba.isnull().sum()

Name        1
Team        1
Number      1
Position    1
Age         1
Height      1
Weight      1
College     0
Salary      0
dtype: int64

In [12]:
# c)
nba = nba.loc[nba["Number"] !=0 ]
nba = nba.loc[nba["Age"] !=0 ]
nba = nba.loc[nba["Height"] !=0 ]
nba = nba.loc[nba["Weight"] !=0 ]
nba = nba.loc[nba["Salary"] !=0 ]

In [14]:
# d)

nba.College.value_counts()

Kentucky           19
Kansas             15
Duke               15
North Carolina     14
UCLA               11
                   ..
Oklahoma            1
DePaul              1
Utah Valley         1
St. Bonaventure     1
Miami (FL)          1
Name: College, Length: 99, dtype: int64

In [15]:
# d)
nba.College.fillna("Kentucky", inplace = True)
nba.Salary.fillna(nba.Salary.mean(), inplace = True)

In [20]:
# e)
nba.Number.fillna(nba.Number.mean(), inplace = True)
nba.Salary = nba.Salary.astype(int)
nba.Number = nba.Number.astype(int)

In [ ]:
f) What are the unique positions existing within the “Position” column? Is any type 
conversion needed for this column? If yes, convert the column type to the most 
appropriate type. (5)

In [22]:
#f)
nba.Position.unique()

array(['PF', 'C', 'SF', 'SG', 'PG', nan], dtype=object)

In [37]:
nba.Position = nba.Position.astype("category")

# replace null values with knn
import sys
from impyute.imputation.cs import fast_knn
sys.setrecursionlimit(100000) #Increase the recursion limit of the OS

# start the KNN training
fast_knn(nba['Position'], k=30)

In [32]:
# replace null values with most frequent

nba.Position.value_counts()

SG    78
PF    76
PG    67
SF    65
C     59
Name: Position, dtype: int64

In [33]:
nba.Position = nba.Position.fillna("SG")

In [ ]:
#g)

In [34]:
nba.Team.nunique()

30

In [35]:
len(nba)/nba.Team.nunique()

11.533333333333333

In [36]:
nba.Team = nba.Team.astype('category')

In [44]:
!pip install memory_profiler

Collecting memory_profiler
  Downloading memory_profiler-0.61.0-py3-none-any.whl (31 kB)
Requirement already satisfied: psutil in c:\users\student\anaconda3\lib\site-packages (from memory_profiler) (5.7.0)
Installing collected packages: memory-profiler
Successfully installed memory-profiler-0.61.0

In [48]:
#h) Compare the memory usage in the beginning and at the end and report how much the 
# changes you made impacted the memory usage.

import os, psutil
process = psutil.Process(os.getpid())
print(process.memory_info().rss)  # in bytes

170135552

In [ ]:
# i

In [53]:
nba = nba.sort_values(by = ['Team'], ascending = True)

In [55]:
nba = nba.sort_values(by = ['Salary'], ascending = False, ignore_index = True)

In [56]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Kobe Bryant,Los Angeles Lakers,24,SF,37.0,6-6,212.0,Kentucky,25000000
1,LeBron James,Cleveland Cavaliers,23,SF,31.0,6-8,250.0,Kentucky,22970500
2,Carmelo Anthony,New York Knicks,7,SF,32.0,6-8,240.0,Syracuse,22875000
3,Dwight Howard,Houston Rockets,12,C,30.0,6-11,265.0,Kentucky,22359364
4,Chris Bosh,Miami Heat,1,PF,32.0,6-11,235.0,Georgia Tech,22192730

In [ ]:
# j)

In [68]:
under_25 = nba[nba['Age']<25]
_25_35 = nba[(nba['Age']>=25) & (nba['Age']<=35)]
over_35 = nba[nba['Age']>35]

In [67]:
under_25.Salary.mean()

2631383.2868852457

In [69]:
_25_35.Salary.mean()

6312135.931707317

In [70]:
over_35.Salary.mean()

4371275.611111111

25 through 35 has the highest average salary.